#s{
	width:25px;
	height:25px;
	background-color: rgb(240, 228, 7);
	position:absolute;

}
.box{
     width: 650px;
	height: 650px;
	border: 5px solid black;
   position: relative;
}
#mycanvas{
	background-color: rgb(186, 131, 233);
    border: solid 1px black;
    display: block;
	margin: 0 auto;
    padding: 5px 10px;
}